.mainContainer {
	width: 80%;
	height: fit-content;
	background-color: var(--contrastBackground);
	color: var(--fontMainContast);
	padding: 1rem;
	display: flex;
	flex-direction: row;
	border-radius: 12px;
	margin: 1rem 0;
	box-shadow: 4px 4px 8px var(--contrastBackground);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.mainContainer:hover {
	scale: 1.02;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80ch;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--alternateHighlight);
	padding: 0.4rem 0;
	width: fit-content;
}
.mainContainer:hover > title:hover {
	border-bottom: 2px solid var(--primaryHighlight);
}
.description {
	line-height: 2rem;
}
.image {
	position: relative;
	width: 500px;
	height: 200px;
}
.imageBorder {
	border-radius: 10px;

}
@media screen and (max-width: 768px) {
	.mainContainer {
		flex-direction: column-reverse;
	}
	.image {
		width: 100%;
		height: 200px;
	}
	.text {
		margin: 1rem 0;
	}
}
