.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    background-image: url("../public/res/1.jpg");
    background-position: 0 -200px;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.hero-section::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    z-index: 2;
}

.hero-section-text {
    font-weight: 800;
    font-size: 5rem;
    color: var(--fontMainContast);
    z-index: 3;
}

.hero-section-text-animated {
    font-weight: 400;
    font-size: 3rem;
    color: var(--fontAlternateText);
    z-index: 3;
    text-align: center;
}
/*Phone section na dole strony*/
.hero-phone-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.hero-phone-number {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oferta {
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.animation-container {
    width: 20rem;
    margin: 1rem;
}

.description {
    font-size: 1.5rem;
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
    max-width: 70ch;
}
/*Phone section na dole strony*/
.phone-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.phone-number {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

/*Personal section*/
.bio-section {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--primaryBackground);
}

.bio-image-container {
    position: relative;
    top: -8rem;
    margin-bottom: -8rem;
}

.bio-image {
    clip-path: circle();
}


/*Text styles*/
/*Mobile*/
@media only screen and (max-width: 900px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 15rem;
        background-image: url("../public/res/1.jpg");
        background-position: 0 -00px;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    
    .hero-section-text {
        font-weight: 800;
        font-size: 2rem;
    }

    .hero-section-text-animated {
        font-weight: 400;
        font-size: 1.5rem;
        color: var(--fontAlternateText);
        z-index: 3;
    }
    .description {
        font-size: 1.2rem;
        padding: 0.5rem;
        line-height: 2rem;
        text-align: left;
    }
}