
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-image-container {
    position: relative;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-container {
    width: 20rem;
    margin: 1rem;
}

/*Personal section*/
.bio-section {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--primaryBackground);
}

.bio-image-container {
    position:relative;
    top: -8rem;
    margin-bottom: -8rem;
}
.bio-image {
    clip-path: circle();
}


/*Text styles*/
/*Mobile*/
@media only screen and (max-width: 900px) {}